html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    font-family: 'Dosis', sans-serif;
    font-display: swap;
}

.wrapper {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    max-width: 400px;
    width: 100%;
}

.screen {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    padding: 20px;
    font-size: 36px;
    text-align: right;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #232323;
    margin-bottom: 20px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.calc-buttons {
    display: flex;
    flex-direction: column;
}

.calc-buttons-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.calc-button {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    color: #232323;
    flex-basis: 22%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.2s ease;
}

.calc-button.double {
    flex-basis: 47%;
}

.calc-button.triple {
    flex-basis: 73%;
}

.calc-button:last-child {
    background: #d72880;
    color: #fff;
}

.calc-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.calc-button:active {
    background-color: #ffef78;
}

.calc-button:last-child:hover {
    background-color: #d72880;
    color: #fff;
}